.outdated{
    background-color: #dd0000 !important;
    color: #fff;
}
.text-outdated{
    color: #dd0000 !important;
}

.card_comment,
.card_document{
    margin-bottom: 20px;
    margin-top: 20px;
}
.card_comment-head,
.card_document-head,
.card_comment-footer,
.card_document-footer{
    padding: 5px 15px;
}
.card_comment-head,
.card_document-head,
.card_comment-body,
.card_document-body{
    border-bottom: 1px dotted #d7d7d7;
}
.card_description,
.card_comment-body,
.card_document-body{
    padding: 10px 15px;
    white-space: pre-line;
}

timer{
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 901;
    color: #fff;
}
.timer-title{
    white-space: nowrap;
}
.timer-hook{
    margin-left: -150px;
    width: 300px;
    overflow-x: hidden;
}

.todo_categories{
    padding: 5px;
}
.todo_categories .todo_category .table-cell,
.todo_categories .todo_category.defaut_category{
    position: relative;
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-left: 0;
    background-color: #fff;
    margin-bottom: 5px;
}
.todo_categories .todo_category.defaut_category{
    border: 1px solid #d3d3d3;
    border-radius: 3px;
}
.todo_categories .todo_category .table-cell:first-child{
    border: 1px solid #d3d3d3;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.todo_categories .todo_category .table-cell:last-child{
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.todo_categories .todo_category:hover .table-cell,
.todo_categories .todo_category.active .table-cell,
.todo_categories .todo_category.defaut_category:hover,
.todo_categories .todo_category.defaut_category.active{
    border-color: #000;
}

.project_todos .handleTodos,
.project_todos .handleCategories{
    cursor: move;
}

.project_todos .table{
    margin: 0 !important;
    border-collapse: separate;
    border-spacing: 0 5px;
}
.project_todos .table-cell{
    background-color: #fff;
    padding: 10px 15px;
}
.project_todos .todos .table-cell {
    vertical-align: middle;
    height: 48px;
    border: 1px solid #4cae4c;
    border-left: 0;
}
.project_todos .todos .table-cell:first-child{
    border: 1px solid #4cae4c;
    width: 50px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.project_todos .todos .table-cell:first-child:hover{
    color: #4cae4c;
}
.project_todos .todos .table-cell:first-child i.onhover{
    display: none;
}
.project_todos .todos .table-cell:first-child:hover i{
    display: none;
}
.project_todos .todos .table-cell:first-child:hover i.onhover{
    display: initial;
}
.project_todos .todos .table-cell:last-child{
    border: 1px solid #4cae4c;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 0;
}

.project_todos .history .table-cell {
    vertical-align: middle;
    height: 48px;
    border: 1px solid #eea236;
    border-left: 0;
}
.project_todos .history .table-cell:first-child{
    color: #eea236;
    border: 1px solid #eea236;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.project_todos .history .table-cell:first-child:hover i{
    transform: rotate(-360deg);
    transition: transform .8s;
}
.project_todos .history .table-cell:last-child{
    border: 1px solid #eea236;
    border-left: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 0;
}

.mywork .date-cell{
    background-color: #393939 !important;
    color: #fff;
}
.mywork .date-cell:not(:first-child){
    border-top: 15px solid #fff;
}